# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
front/.pnp
.pnp.js
.env

# testing
front/coverage

# production
front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

contract/cdp-view/cache
contract/cdp-view/artifacts

# TypeChain files
contract/cdp-view/typechain
contract/cdp-view/typechain-types

# solidity-coverage files
contract/cdp-view/coverage
contract/cdp-view/coverage.json